body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
.one{
    flex-grow: 0;
    height: 700px;
    display: flex;
    background-color: #1f2937;
}
.notmain{
    border: 2px solid blac;
    color: red;
    flex:0 1 auto;
    width: 200px;
}
.notmainend{
    border: 2px solid blac;
    width: 200px;
    flex:0 1 auto;
}
.main{
    border: 2px solid whit;
    flex:1 1 0;
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: cente;
}
.header{
    border: 2px solid whit;
    display: flex;
}
ul{
    border: 2px solid re;
    flex:1;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    margin:0;
    padding-right: 26px;
}
li{
    border: 2px solid gree;
    margin-right: 0;
    align-items: center;
    display: flex;
}
a{
    color: white;
    text-decoration: none;
    align-items: center;
    padding: 0px 13px;
    font-size: 18px;
    color: #e5e7eb;
}
.logo{
    border: 2px solid whit;
    font-size: 24px;
    color: #f9faf8;
    flex:1;
    padding:20px;
    font-weight: bold;

}
.another{
    border: 2px solid whit;
    display: flex;
    align-self: stretch;
    flex: 1 1 auto;
}
.gone{
    border: 2px solid whit;
    display: flex;
    flex-direction: column;
    margin: 150px 10px;
    flex:1;
}
.picture{
    flex:1;
    border: 2px solid whit;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 300px;
    width: 600px;
}
.name,
.text{
    border: 2px solid whit;
    flex:;
}
.name{
    font-size: 48px;
    font-weight: bolder;
    width: 300px;
}
.text{
    font-size: 18px;
    color: #e5e7eb;
    width: 500px;
}
.first{
    border-radius: 8px;
    background-color: #3882f6;
    padding: 8px 16px;
    margin-top:10px;
    width: 100px;
    align-self: flex-start;
    font-size: 18px;
    color:white;
}



.two{
    height: 500px;
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    border: 2px solid blac;
}
.title{
    border: 2px solid blac;
    font-size: 36px;
    font-weight: bold;
    color:#1f2937;
    text-align: center;
    padding:40px;
}
.container{
    border: 2px solid blac;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: cente;
    gap: 32px;
}
.fog{
    display: flex;
    flex-direction: column;
}
.fo{
    width: 200px;
    height: 200px;
    margin-bottom: 16px;
    border:5px solid #3882f6;
    border-radius: 16px;
}
.texts{
    border: 2px solid blac;
    flex: 0 1 auto;
    color:black;
    width: 200px;
    text-align: center;
}
.three{
    border: 2px solid blac;
    background-color: #e5e7eb;
    height: 450px;
    display: flex;
    flex-direction: row;
}
.hard{
    border: 2px solid blac;
    display: flex;
    flex:1;
    flex-direction: column;
}
.proxy{
    flex:1;
    display: flex;
    height: 350px;
    border: 2px solid blac;
    justify-content: flex-end;
    align-items: flex-end;
}
.quote{
    border: 2px solid blac;
    width: 850px;
    font-size: 36px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #1f2937;
}
.ps{
    border: 2px solid blac;
    flex:0 1 150px;
    text-align: end;
    font-size: 26px;
    font-weight: bold;
    padding-right: 30px;
    
}
.empty{
    border: 2px solid re;
    width: 480px;
    flex:0 1 auto;

}





